.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.pagination :global(button) {
  padding: 5px;
  color: var(--app-color-text-white);
  height: 34px;
  min-width: 34px;
  border-radius: 17px;
}

.pagination .active {
  background-color: var(--app-color-accent-yellow-200);
}
