:root {
  --app-table-border-color: var(--app-color-accent-yellow-200);
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-top: 3px solid var(--app-table-border-color);
  border-bottom: 3px solid var(--app-table-border-color);
}

.table-th,
.table-td {
  padding-inline: 5px;
  text-align: left;
}

.table-th {
  padding-block: 15px;
}

.table-th:nth-child(1) {
  width: 10%;
}

.table-th:nth-child(2) {
  width: 25%;
}

.table-th:nth-child(3) {
  width: 30%;
}

.table-th:nth-child(4) {
  width: 15%;
}

.table-th:nth-child(5) {
  width: 20%;
}

.table-td {
  padding-block: 10px;
  word-wrap: break-word;
}

.table-thead .table-tr {
  border-bottom: 3px solid var(--app-table-border-color);
}

.table-tbody .table-tr:not(:last-child) {
  border-bottom: 2px solid var(--app-table-border-color);
}

.td-role {
  text-transform: capitalize;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button-wrapper :global(.icon) {
  color: var(--app-color-text-white);
}

.button-wrapper .trash-icon :global(.icon) {
  color: var(--app-color-red);
}

.delete-btn-wrapper {
  margin-top: 10px;
}

.delete-button {
  white-space: pre;
}
