:root {
  --app-table-border-color: var(--app-color-accent-yellow-200);
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-top: 3px solid var(--app-table-border-color);
  border-bottom: 3px solid var(--app-table-border-color);
}

.table:focus-visible {
  box-shadow: none;
}

.table-th,
.table-td {
  padding-inline: 5px;
  text-align: left;
}

.table-th {
  padding-block: 15px;
}

.th-select {
  width: 10%;
}

.th-name {
  width: 25%;
}

.th-email {
  width: 30%;
}

.th-role {
  width: 15%;
}

.th-actions {
  width: 20%;
}

.table-td {
  padding-block: 10px;
  word-wrap: break-word;
}

.table-thead .table-tr {
  border-bottom: 3px solid var(--app-table-border-color);
}

.table-tbody .table-tr:not(:last-child) {
  border-bottom: 2px solid var(--app-table-border-color);
}

.table .table-tr.selected-row {
  background-color: var(--app-color-shadow-primary-dark-100);
}

.td-name {
  font-weight: var(--app-font-weight-400);
}

.td-role {
  text-transform: capitalize;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button-wrapper :global(.icon) {
  color: var(--app-color-text-white);
}

.button-wrapper .trash-icon :global(.icon) {
  color: var(--app-color-red);
}

.form-input {
  min-width: 80%;
  max-width: 100%;
}

.delete-btn-wrapper {
  margin-top: 10px;
}

.delete-button {
  white-space: pre;
}

@media (max-width: 768px) {
  .th-role {
    width: 15%;
  }

  .th-name {
    width: 55%;
  }

  .td-role {
    position: relative;
  }

  .td-role > .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .td-role svg {
    height: 24px;
    width: 24px;
    fill: var(--app-color-text-white);
    flex-shrink: 0;
  }

  .td-role.role-icon:hover::after {
    content: attr(title);
    font-size: var(--app-sizes-size-12);
    display: block;
    background-color: var(--app-color-gray-700);
    padding: 5px;
    border-radius: var(--app-border-radius-medium);

    position: absolute;
    bottom: -10px;
    left: 50%;

    transform: translateX(-50%);
  }
}
