.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--app-border-radius-medium);
}

.variant--icon {
  padding: 5px;
  background-color: transparent;
  border: none;
}
