.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--app-color-primary-dark-500);
  padding: 10px 20px;
  border-top-left-radius: var(--app-border-radius-medium);
  border-top-right-radius: var(--app-border-radius-medium);
}
