.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--app-color-primary-dark-500);
  padding: 10px 20px;
  border-top-left-radius: var(--app-border-radius-medium);
  border-top-right-radius: var(--app-border-radius-medium);
}

.search-form {
  position: relative;
  flex-basis: 40%;
}

.search-icon-group {
  display: flex;
  align-items: center;
  gap: 3px;

  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.search-input {
  font-size: 14px;
  height: 30px;
  background-color: var(--app-color-primary-dark);
  color: var(--app-color-text-white);
  border: none;
  padding: 5px 10px;
  border-radius: var(--app-border-radius-medium);
  width: 100%;
}

.search-icon-group :global(button) {
  height: 30px;
}

.search-icon-group :global(svg) {
  fill: var(--app-color-text-white);
}
