/* TODO: Implement smooth scroll */

:root {
  /* Colors */
  --app-color-primary-dark: #252527;
  --app-color-primary-light: #edecdd;
  --app-color-accent-yellow: #e6920c;
  --app-color-text-white: #faf9f6;
  --app-color-primary-dark-200: #515152;
  --app-color-primary-dark-300: #3b3b3d;
  --app-color-primary-dark-500: #1e1e1f;
  --app-color-primary-dark-600: #161617;
  --app-color-accent-yellow-300: #eba83d;
  --app-color-accent-yellow-200: #eeb355;
  --app-color-accent-yellow-100: #f3c986;
  --app-color-danger-red: #b91c1c;
  --app-color-danger-red-500: #991b1b;
  --app-color-danger-red-600: #7f1d1d;
  --app-color-red: #f11111;
  --app-color-gray-400: #9ca3af;

  --app-color-shadow-accent-yellow-100: rgb(243 201 134 / 40%);
  --app-color-shadow-accent-yellow-200: rgb(230 146 12 / 40%);

  /* Sizes */
  --app-sizes-size-10: 0.625rem;
  --app-sizes-size-12: 0.75rem;
  --app-sizes-size-14: 0.875rem;
  --app-sizes-size-16: 1rem;
  --app-sizes-size-18: 1.125rem;
  --app-sizes-size-20: 1.25rem;
  --app-sizes-size-24: 1.5rem;
  --app-sizes-size-30: 1.875rem;
  --app-sizes-size-36: 2.25rem;
  --app-sizes-size-44: 2.75rem;
  --app-sizes-size-52: 3.25rem;
  --app-sizes-size-62: 3.875rem;
  --app-sizes-size-74: 4.625rem;
  --app-sizes-size-86: 5.375rem;
  --app-sizes-size-98: 6.125rem;

  /* Font Weight */
  --app-font-weight-400: 400;
  --app-font-weight-500: 500;
  --app-font-weight-600: 600;
  --app-font-weight-700: 700;

  /* Border */
  --app-border-radius-small: 2px;
  --app-border-radius-medium: 5px;
  --app-border-radius-rounded: 50%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
input,
button {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--app-color-primary-dark);
  color: var(--app-color-text-white);
}

#root {
  min-height: 100vh; /* Added for browser compatibility */
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.container {
  margin-inline: 28px;
}

.text-center {
  text-align: center !important;
}

.no-transition {
  transition: none !important;
}
