*:focus-visible {
  outline: none;
  box-shadow: 0 0 2px 4px var(--app-color-shadow-accent-yellow-200);
}

input[type="text"],
select {
  color: var(--app-color-text-white);
  background-color: var(--app-color-primary-dark-300);
  border: none;
  border-bottom: 2px solid var(--app-color-accent-yellow);
  border-radius: var(--app-border-radius-small);
  padding: 5px;
}

input[type="checkbox"] {
  appearance: none;
  height: 22px;
  width: 22px;
  border: 2px solid var(--app-color-accent-yellow);
  border-radius: var(--app-border-radius-rounded);
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked {
  background-color: var(--app-color-accent-yellow-200);
}

input[type="checkbox"]::after {
  content: "\2713";
  visibility: hidden;
}

input[type="checkbox"]:checked::after {
  visibility: visible;
  color: var(--app-color-text-white);
  font-size: var(--app-sizes-size-14);
  font-weight: var(--app-font-weight-700);
}
